@page "/counter"

<PageTitle>Informacje</PageTitle>
<h1>Krótka historia Warszawy</h1>
<h10>
    Warszawa, stolica i największe miasto Polski, jest miastem o bogatej i złożonej historii, a jednocześnie dynamicznie rozwijającym się centrum kulturowym i gospodarczym.
    Jej historia rozpoczyna się w średniowieczu, a przez wieki miasto było świadkiem wielu znaczących wydarzeń, które kształtowały nie tylko jego losy, ale i dzieje całego kraju.
    Warszawa, nazywana często "Feniksem z popiołów", jest także miastem, które z powodzeniem połączyło swoje bogate dziedzictwo historyczne z nowoczesnością,
    stając się ważnym punktem na turystycznej mapie Europy. Początki Warszawy sięgają XIII wieku, kiedy to była niewielką osadą rybacką. 
    Znaczący rozwój miasta nastąpił w XIV i XV wieku, kiedy to stało się ważnym ośrodkiem handlowym. W 1596 roku król Zygmunt III Waza przeniósł stolicę Polski z Krakowa do Warszawy,
    co przyczyniło się do dalszego rozwoju i znaczenia miasta. XVII i XVIII wiek to okresy licznych wojen i zniszczeń, które jednak nie zahamowały rozwoju Warszawy. 
    W XIX wieku, pod zaborami, miasto stało się areną wielu powstań narodowych, w tym słynnego Powstania Listopadowego (1830–1831) i Powstania Styczniowego (1863–1864).
    II wojna światowa była tragicznym okresem w historii miasta. Powstanie Warszawskie w 1944 roku, choć bohaterskie, zakończyło się klęską i niemal całkowitym zniszczeniem miasta.
    Po wojnie Warszawa została odbudowana, a Stare Miasto wpisane na listę światowego dziedzictwa UNESCO jako przykład historycznej rekonstrukcji.
</h10>
