@page "/"

<PageTitle>Zdjęcia</PageTitle>

<h1>Strona poświećona Warszawie </h1>

<img src="warszawa.png" alt="Opis zdjęcia" width="400" />
<img src="warszawa1.png" alt="Opis zdjęcia" width="400" />
<img src="warszawa2.png" alt="Opis zdjęcia" width="400" />
<img src="warszawa3.png" alt="Opis zdjęcia" width="400" />
<img src="warszawa4.png" alt="Opis zdjęcia" width="400" />
<img src="warszawa5.png" alt="Opis zdjęcia" width="400" />