@page "/weather"
@inject HttpClient Http

<PageTitle>Pogoda</PageTitle>

<h1>Pogoda w warszawie </h1>

<p>Pobieranie aktualnej pogody nie udało się. Wyświelanie ostaniej udanej próby pobrania.</p>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Temperatura (°C)</th>
            <th>Temperatura (°F)</th>
            <th>Streszczenie</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>19.05</td>
            <td>20</td>
            <td>68</td>
            <td>Słonecznie</td>
        </tr>
        <tr>
            <td>20.05</td>
            <td>18</td>
            <td>64.4</td>
            <td>Pochmurno</td>
        </tr>
        <tr>
            <td>21.05</td>
            <td>21</td>
            <td>69.8</td>
            <td>Deszczowo</td>
        </tr>
        <tr>
            <td>22.05</td>
            <td>23</td>
            <td>73.4</td>
            <td>Przelotne opady</td>
        </tr>
        <tr>
            <td>23.05</td>
            <td>25</td>
            <td>77</td>
            <td>Upał</td>
        </tr>
        <tr>
            <td>24.05</td>
            <td>19</td>
            <td>66.2</td>
            <td>Zachmurzenie</td>
        </tr>
        <tr>
            <td>25.05</td>
            <td>17</td>
            <td>62.6</td>
            <td>Burza</td>
        </tr>
        <tr>
            <td>26.05</td>
            <td>20</td>
            <td>68</td>
            <td>Słonecznie</td>
        </tr>
        <tr>
            <td>27.05</td>
            <td>22</td>
            <td>71.6</td>
            <td>Pogodnie</td>
        </tr>
        <tr>
            <td>28.05</td>
            <td>24</td>
            <td>75.2</td>
            <td>Gorąco</td>
        </tr>
        <tr>
            <td>29.05</td>
            <td>21</td>
            <td>69.8</td>
            <td>Wiatr</td>
        </tr>
        <tr>
            <td>30.05</td>
            <td>19</td>
            <td>66.2</td>
            <td>Deszczowo</td>
        </tr>
        <tr>
            <td>31.05</td>
            <td>20</td>
            <td>68</td>
            <td>Pochmurno</td>
        </tr>
        <tr>
            <td>01.06</td>
            <td>22</td>
            <td>71.6</td>
            <td>Słonecznie</td>
        </tr>
        <tr>
            <td>02.06</td>
            <td>23</td>
            <td>73.4</td>
            <td>Upał</td>
        </tr>
        <tr>
            <td>03.06</td>
            <td>21</td>
            <td>69.8</td>
            <td>Deszcz</td>
        </tr>
        <tr>
            <td>04.06</td>
            <td>19</td>
            <td>66.2</td>
            <td>Zachmurzenie</td>
        </tr>
    </tbody>
</table>



      
